/* Colors */

/* Blues */
$bright-blue: #28abe3;
$brighter-blue: #25a0da;
$dark-blue: #0000b3;
$link-color: #337ab7;

/* Off-Whites */
$off-white: #faf8f2;
$off-white-a: rgba(250, 248, 242, .9);

/* Greens */
$dark-green: #2b7606;
$green: #3da609;
$lime-green: #18a676;
$light-green: #58ef0d;

/* Oranges */
$light-orange: #f7eac8;

/* Yellows */
$dark-vivid-yellow: #d9aa16;
$light-yellow: #f1f15b;
$strong-yellow: #b58e12;
$vivid-yellow: #e8b71a;
$yellow: #ebeb14;

/* Reds */
$bright-red: #db3340;
$red: #a6093d;
$strong-red: #b3202b;

/* Black, Gray, Transparent, White */
$black: #000;
$light-gray: #e0e1e2;
$transparent: rgba(255, 255, 255, 0);
$white: #fff;
