a {
  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: $dark-blue;
  }

  color: $bright-blue;
}

button {
  &:focus {
    outline: none;
  }

  @include user-select(none);
}

html {
  background-color: $off-white-a;
  font-size: $base-font-size;

  body {
    background-color: transparent;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: $base-font-size;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
  }
}
