<div class="content">
  <div class="header">
    Accounts
  </div>
</div>
<div class="content">
  <ul class="account-list">
    <li class="header-row">
      <div>
        Name
      </div>
      <div>
        Balance
      </div>
    </li>
    {{#if model}}
      {{#each model as |account|}}
        <li class="record-row">
          {{#link-to "main.home.account.edit" account.id class=(concat "flex-display flex-row flex-spacer vertical-sm-spacer " (if account.isNegative "text-bold text-red"))}}
            <div>
              {{account.name}}
            </div>
            <div class="{{if account.isNegative 'text-bolder text-red'}}">
              {{format-currency account.balance}}
            </div>
          {{/link-to}}
        </li>
      {{/each}}
    {{else}}
      <li class="footer-row">
        <h4>No accounts to display</h4>
      </li>
    {{/if}}
  </ul>
</div>
