{{#link-to "main.home.account.new" tagName="button" class="ui button"}}
  Add a New Account
{{/link-to}}

{{#if model}}
  <ul>
    {{#each model as |account|}}
      <li>
        {{#link-to "main.home.account.edit" account.id class=(if account.isNegative "text-red" "")}}
          {{account.name}} {{format-currency account.balance}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <h4>No accounts to display</h4>
{{/if}}
