{{#link-to "main.home.account.new" tagName="button" class="ui button"}}
  Add a New Account
{{/link-to}}

{{#if model}}
  {{#each model as |account|}}
  {{/each}}
{{else}}
  <h4>No accounts to display</h4>
{{/if}}
