<section class="ui grid">
  <div class="fourteen wide column">
    {{account-list model=model.accounts}}
  </div>
  <div class="two wide column">
    {{#link-to "main.home.account.new" tagName="button" class="ui button positive"}}
      Add
    {{/link-to}}
  </div>
</section>
