<section class="ui grid">
  <div class="fourteen wide column">
    {{group-list model=model.groups}}
  </div>
  <div class="two wide column">
    {{#link-to "main.home.group.new" tagName="button" class="ui button positive"}}
      Add
    {{/link-to}}
  </div>
</section>
