{{#modal-window
  hasActions=true
  id="phone-modal"
  ok-caption="Add"
  showOnTransition=true
  title="Add a Phone Number"
  cancelAction="cancel"
  okAction="add"
}}
  <form class="flex-column flex-display flex-spacer">
    <div class="flex-display flex-row flex-spacer">
      {{drop-down
        container-styles="bottom-spacer flex-display flex-double-spacer"
        model=contactInfoTypes
        placeholder="Select an address type"
        update=(action "updateType")
      }}
      <div class="flex-center flex-display flex-spacer">
        {{ui-checkbox
          label="Primary Phone"
          checked=model.isPrimary
          onChange=(action (mut model.isPrimary))
        }}
      </div>
    </div>
    {{phone-input-block model=model}}
  </form>
{{/modal-window}}
