<div class="ui card">
  <div class="content">
    <div class="header">
      {{header}}
    </div>
  </div>
  <div class="content">
    <h4 class="ui sub header">
      {{subheader}}
    </h4>
    <p>
      {{body}}
    </p>
  </div>
</div>
