<div class="ui card">
  {{#if header}}
    <div class="content">
      <div class="header">
        {{header}}
      </div>
    </div>
  {{/if}}
  <div class="content">
    {{#if subheader}}
      <h4 class="ui sub header">
        {{subheader}}
      </h4>
    {{/if}}
    <p>
      {{body}}
    </p>
  </div>
</div>
