<section class="ui grid">
  <div class="sixteen wide column">
    <nav class="ui secondary pointing menu">
      {{#link-to "main.home.profile.edit" class="item"}}
        Edit Your Profile
      {{/link-to}}
      {{#link-to "main.home.profile.groups" class="item"}}
        View Your Groups
      {{/link-to}}
      {{#link-to "main.home.profile.accounts" class="item"}}
        View Your Accounts
      {{/link-to}}
    </nav>
  </div>
  <div class="four wide column">
    {{profile-info-card model=model}}
  </div>
  <div class="twelve wide column">
    {{outlet}}
  </div>
</section>
