<div id="dropdown-nav" class="ui dropdown icon item">
  <i class="sidebar icon"></i>
  <div class="menu">
    <div class="item">
      {{#link-to "main.home.group" tagName="button" class="ui labeled icon button"}}
        <i class="users icon"></i>
        Manage Groups
      {{/link-to}}
    </div>
  </div>
</div>
