<section class="flex-display flex-center">
  <form {{action "save" on="submit"}} class="ui raised card auto-width">
    <div class="content flex-column">
      <header class="header">New Group</header>
      <div class="meta">
        Create a new group for tracking finances
      </div>
      <div class="description flex-column flex-display">
        {{text-input
          container-styles="bottom-spacer"
          id="name"
          label="Name"
          required=true
          type="text"
          value=model.name
        }}
        {{text-box
          id="description"
          label="Description"
          required=false
          value=model.description
        }}
      </div>
    </div>
    <footer class="extra content">
      <div class="right floated">
        <button type="submit" class="ui button">Save</button>
      </div>
    </footer>
  </form>
</section>
